<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>メイン</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="common.css">
</head>
<form>
	<h1>登録情報編集</h1>
	<div 　class="a1">
		ユーザーID<input type="text" name="UserID" size="10" maxlength="20"><br>
		<br> 名前<input type="text" name="name" size="10" maxlength="20"><br>
		<br> クラス番号<input type="text" name="name" size="10" maxlength="20"><br>
		<br>パスワード<input type="text" name="password" size="10"
			maxlength="20"><br> <br>パスワード(確認)<input type="text"
			name="password" size="10" maxlength="20"><br>
			<br><button type="button" onclick="history.back()">戻る</button>
			<button type="submit" id="submit">保存</button>
</form>
</body>
</html>