<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>会員登録画面</title>
</head>
<body>
	<div>
		<div align="center">
			<h1>会員登録</h1>
		</div>
		<hr>
		<form th:action="@{/signup}" method="post">
			<table align="center">
				<tr>
					<th>ユーザーID(学籍番号)</th>
					<td>
						<div>
							<input type="text" />
						</div>
					</td>
				</tr>
				<tr>
					<th>パスワード</th>
					<td>
						<div>
							<input type="text" />
						</div>
					</td>
				</tr>
				<tr>
					<th>クラス</th>
					<td>
						<div>
							<label for="nen" >R4</label>
						</div>
					</td>
					<th>番号</th>
					<td>
						<div>
							<select name="example">
								<option value="サンプル1">1</option>
								<option value="サンプル2">2</option>
								<option value="サンプル3">3</option>
								<option value="サンプル1">4</option>
								<option value="サンプル2">5</option>
								<option value="サンプル3">6</option>
								<option value="サンプル1">7</option>
								<option value="サンプル2">8</option>
								<option value="サンプル3">9</option>
								<option value="サンプル1">10</option>
								<option value="サンプル2">11</option>
								<option value="サンプル3">12</option>
								<option value="サンプル1">13</option>
								<option value="サンプル2">14</option>
								<option value="サンプル3">15</option>
								<option value="サンプル1">16</option>
								<option value="サンプル2">17</option>
								<option value="サンプル3">18</option>
								<option value="サンプル1">19</option>
								<option value="サンプル2">20</option>
								<option value="サンプル3">21</option>
								<option value="サンプル1">22</option>
								<option value="サンプル2">23</option>
								<option value="サンプル3">24</option>
								<option value="サンプル3">25</option>
								<option value="サンプル1">26</option>
								<option value="サンプル2">27</option>
								<option value="サンプル3">28</option>
								<option value="サンプル1">29</option>
								<option value="サンプル2">30</option>
							</select>
						</div>
					</td>
				</tr>
				<tr>
					<th>名前</th>
					<td>
						<div>
							<input type="text" />
						</div>
					</td>
				</tr>
			</table>
			<center><button type="submit">登録</button></center>>
		</form>
	</div>
</body>
</html>