<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>メイン</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="css/bootstrap.css">
<script type="text/javascript" src="js/jquery-3.2.1.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
</head>
<style>
a {
	text-decoration: none;
}
h1 {
  /*線の種類（二重線）太さ 色*/
  border-bottom: double 5px #a6d3c8;
}
</style>
<img src="../img/a.png" width="120px" height="90px" align="right">
<br>
<br>
<h1>マイページ</h1>
</html>