<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>メイン</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="css/bootstrap.css">
<script type="text/javascript" src="js/jquery-3.2.1.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
</head>
<style>
a {
	text-decoration: none;
}

.ribbon7 {
	display: inline-block;
	position: relative;
	padding: 15px 20px;
	font-size: 18px; /*フォントサイズ*/
	color: #000000; /*フォントカラー*/
	background: #a6d3c8; /*リボンの色*/
}

a:hover {
	text-decoration: none;
}

.ribbon7:before {
	position: absolute;
	content: '';
	top: 100%;
	left: 0;
	border: none;
	border-bottom: solid 15px transparent;
	border-right: solid 20px rgb(149, 158, 155); /*折り返し部分*/
}
</style>
<br>
<a href="User1.html" class="ribbon7" target="right">会員情報 </a>
<br>
<br>
<a href="left2.htm" class="ribbon7" target="left"><font size="2">承認済書類一覧</font>
</a>
<br>
<br>
<a href="kensaku1.html" class="ribbon7" target="right">書類検索 </a>
<br>
<br>
<a href="logout.html" class="ribbon7" target="_top"><font size="2">未承認書類一覧</font>
</a>
<br>
<br>
<a href="logout.html" class="ribbon7" target="_top">ログアウト </a>
</html>