<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Springboot</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="css/bootstrap.css">
<script type="text/javascript" src="js/jquery-3.2.1.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
</head>
<body>
	<form>
	<br>
		<center><h1>会員情報</h1></center><br>
		<table align="center">
			<tr>
				<th>ユーザーID</th>
				<td>
					<div>
						<input type="text" />
					</div>
				</td>
			</tr>
			<tr>
				<th>名前</th>
				<td>
					<div>
						<input type="text" />
					</div>
				</td>
			</tr>
		</table><br>
		<center><a href="edit registration.html" target="_top">登録内容変更</a></center>
	</form>
</body>
</html>