<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>メイン</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="common.css">
</head>
<form>
	<center>
		<h1>登録情報編集</h1>
	</center>
	<div class="a1">
		<table align="center">
			<tr>
				<th>ユーザーID</th>
				<td>
					<div>
						<input type="text" />
					</div>
				</td>
			</tr>
			<tr>
				<th>名前</th>
				<td>
					<div>
						<input type="text" />
					</div>
				</td>
			</tr>
			<tr>
				<th>クラス番号</th>
				<td>
					<div>
						<input type="text" />
					</div>
				</td>
			</tr>
			<tr>
				<th>パスワード</th>
				<td>
					<div>
						<input type="text" />
					</div>
				</td>
			</tr>
			<tr>
				<th>パスワード（確認）</th>
				<td>
					<div>
						<input type="text" />
					</div>
				</td>
			</tr>
			<tr>
				<th>名前</th>
				<td>
					<div>
						<input type="text" />
					</div>
				</td>
			</tr>
		</table>
		<center>
			<button type="button" onclick="history.back()">
				<option>戻る</option>
			</button>
			<button type="submit" id="submit">
				<option>保存</option>
			</button>
		</center>
	</div>
</form>
</body>
</html>