<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<link rel="stylesheet" href="css/bootstrap.css">
<script type="text/javascript" src="js/jquery-3.2.1.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<title>編集</title>
</head>
<style>
</style>
<body>
	<br>

	<table class="table">
		<thead>
			<tr>
				<th>申請日時</th>
				<th>活動日</th>
				<th>開始時間</th>
				<th>終了時間</th>
				<th>企業名</th>
				<th>内容</th>
				<th>フラグ</th>
			</tr>
		</thead>
	</table>

</body>
</html>