<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>メイン</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="common.css">
</head>
<form>
	<h1>&nbsp;登録情報編集</h1>
	<div class="a1">
		<p>
			　ユーザーID　　 　<input type="text" name="UserID" size="20" maxlength="30">
		</p>
		<p>
			　名前　　 　　　　<input type="text" name="name" size="20" maxlength="30">
		</p>
		<p>
			　クラス番号 　　　<input type="text" name="name" size="20" maxlength="30">
		</p>
		<p>
			　パスワード　　　 <input type="text" name="password" size="20" maxlength="30">
		</p>
		<p>
			　パスワード(確認) <input type="text" name="password" size="20" maxlength="30">
		</p>
		<button type="button" onclick="history.back()">
			<option>戻る</option>
		</button>
		<button type="submit" id="submit">
			<option>保存</option>
		</button>
	</div>
</form>
</body>
</html>