<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>メイン</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="css/bootstrap.css">
<script type="text/javascript" src="js/jquery-3.2.1.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
</head>
<frameset rows="70,300"border="0">
	<frame src="Head.htm" scrolling="no" noresize>
	<frameset cols="120,580">
		<frame src="left.htm"name="left" scrolling="no" noresize>
		<frame src="center.html" name="right" target="_top" scrolling="yes">

	</frameset>
</frameset>


</html>