<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>受験報告書記入画面</title>
</head>

<!-- 受験報告書の内容をデータベースから参照して表示  -->

<body>
	<div>
		<div>
			<h1>受験報告書参照</h1>
			<hr>
		</div>
		<hr>
		<form th:action="@{/signup}" method="post">
			<table>
				<tr>
					<th>申請日</th>
					<td>
						<div></div>
					</td>
				</tr>
				<tr>
					<th>報告日</th>
					<td>
						<div></div>
					</td>
				</tr>
				<tr>
					<th>企業名</th>
					<td>
						<div></div>
					</td>
				</tr>
				<tr>
					<th>情報仕入れ場所</th>
					<td>
						<div></div>
					</td>
				</tr>
				<tr>
					<th>開催日時</th>
					<td>
						<div></div>
					</td>
				<tr>
					<th>受験場所</th>
					<td>
						<div></div>
					</td>
				</tr>
				<tr>
					<th>会場</th>
					<td>
						<div></div>
					</td>
				</tr>
				<tr>
					<th>試験</th>
					<td>
						<div></div>
					</td>
				</tr>
				<tr>
					<th>内容１</th>
					<td>
						<div></div>
					</td>
				</tr>
				<tr>
					<th>内容２</th>
					<td>
						<div></div>
					</td>
				</tr>
				<tr>
					<th>内容３</th>
					<td>
						<div></div>
					</td>
				</tr>
				<tr>
					<th>結果通知</th>
					<td>
						<div></div>
					</td>
				</tr>
				<tr>
					<th>適正</th>
					<td>
						<div></div>
					</td>
					<th>筆記・作文</th>
					<td>
						<div></div>
					</td>
				</tr>
				<tr>
					<th>面接概要（ディスカッション）</th>
					<td>
						<div></div>
					</td>
				</tr>
				<tr>
					<th>面接官</th>
					<td>
						<div></div>
					</td>
				</tr>
				<tr>
					<th>面接時間</th>
					<td>
						<div></div>
					</td>
				</tr>
				<tr>
					<th>GD・GWのテーマ</th>
					<td>
						<div></div>
					</td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>