<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Springboot</title>
<meta charset="utf-8" />
</head>
<body>
	<form>
		<h1>会員情報</h1>
		<div>
			　名前　　　　姓<input
				type="text" name="name" size="10" maxlength="20"> 名<input
				type="text" name="name" size="10" maxlength="20"><br>
			<br>　ユーザーID　　<input type="text" name="UserID"
				size="20" maxlength="20">
				<br><br>　<a href="edit registration.html">登録内容編集</a>

		</div>
	</form>
</body>
</html>
